---
layout: default
lang: CS
---

<section id="about" class="fade-in">
    <h2>Úvod</h2>

    <p>
        Jakožto jeden z vědeckých týmů společnosti ESC máte na starost zkoumání
        nově objevené anomálie. Avšak i rutinní experiment se může zvrtnout - a
        vy se náhle ocitáte v uzamčené laboratoři.
    </p>
    <p>
        V laboratoři, kterou pro vás připravili studenti ČVUT FIT, se něco
        pokazilo. Vaším úkolem je odhalit příčinu a napravit ji dřív, než bude
        pozdě — jedině tak se dostanete ven.
    </p>
    <p>
        Místnost se nachází v Dejvickém kampusu ČVUT na adrese Thákurova 9.
        Přímo před Fakultou Informačních technologií.
    </p>
    <p>
        Místnost je určena pro tým 2 až 4 hráčů a očekávaná herní doba je okolo
        30 minut. Individuální návštěva je však také možná.
    </p>
</section>

<section id="pricing" class="fade-in">
    <h2>Cena</h2>

    <h3>500 Kč / tým</h3>
</section>

<section id="reservation" class="fade-in">
    <h2>Rezervace</h2>

    <p>
        Před návštěvou je nutné vytvořit si online rezervaci. Vyberte si jeden z
        nabízených časových slotů a po dokončení rezervace obdržíte potvrzovací
        email.
    </p>

    {% include reservation.html %}
</section>

<section id="gallery" class="fade-in">
    <h2>Galerie</h2>

    {% include gallery.html %}
</section>
