---
layout: default
lang: EN
---

<section id="about" class="fade-in">
    <h2>About</h2>

    <p>
        As one of ESC's research teams you have been assigned to study a newly
        discovered anomaly. But even a routine experiment can go wrong - and now
        you find yourself trapped inside the lab.
    </p>
    <p>
        In the laboratory prepared by students of CTU FIT, something has gone
        wrong. Your task is to uncover the cause and fix it before it’s too late
        — only then will you find your way out.
    </p>
    <p>
        The room is located in the CTU Dejvice campus at Thákurova 9, right in
        front of the Faculty of Information Technology.
    </p>
    <p>
        The room is designed for a team of 2 to 4 players and the expected play
        time is around 30 minutes. However an individual visit is also possible.
    </p>
</section>

<section id="pricing" class="fade-in">
    <h2>Pricing</h2>

    <h3>500 Kč / team</h3>
</section>

<section id="reservation" class="fade-in">
    <h2>Reservation</h2>

    <p>
        An online reservation is mandatory before your visit. Choose one of the
        available time slots and you will receive a confirmation email after the
        reservation is finished.
    </p>

    {% include reservation.html %}
</section>

<section id="gallery" class="fade-in">
    <h2>Gallery</h2>

    {% include gallery.html %}
</section>
