<title>Lab Escape | Escape room from students of CTU FIT</title>

<meta
    name="description"
    content="Lab Escape — escape room created by students of CTU FIT. Discover what went wrong in the lab and find your way out! An experience for a team of 2 to 4 players."
/>
<meta
    name="keywords"
    content="escape room, Prague, CTU FIT, laboratory, students, Lab Escape, game"
/>
<meta name="author" content="Lab Escape team, CTU FIT" />

<meta
    property="og:title"
    content="Lab Escape | Escape room from students of CTU FIT"
/>
<meta
    property="og:description"
    content="Discover the mystery inside the lab and find your way out. Escape room created by students of CTU FIT."
/>
<meta
    property="og:image"
    content="https://labescape.github.io/assets/images/graphic_min.png"
/>
<meta property="og:url" content="https://labescape.github.io/cs" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_EN" />

<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />

<link rel="canonical" href="https://labescape.github.io/en" />
